<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" aria-colspan="1">
    <tr>
        <th></th>
        <th>Spring MVC</th>
        <th>Spring Boot</th>
    </tr>
    <tr>
        <td>Khái niệm</td>
        <td>Là một module của Spring Framework được dùng để xây dựng ứng dụng web theo mô hình MVC</td>
        <td>Spring Boot là framework Java giúp đơn giản hóa và tăng tốc quá trình phát triển ứng dụng web bằng cách cung cấp cấu hình mặc định và giảm thiểu cấu hình phức tạp.</td>
    </tr>
    <tr>
        <td>Cấu hình</td>
        <td>Cấu hình thủ công với XML hoặc java cofig</td>
        <td>Tự động cấu hình thông minh (auto-configuration)</td>
    </tr>
    <tr>
        <td>Cách khởi tạo dự án</td>
        <td>Tạo thủ công hoặc thông qua IDE như Eclipse, IntelliJ với cấu hình phức tạp.</td>
        <td>Dễ dàng với Spring Initializr hoặc dòng lệnh.</td>
    </tr>
    <tr>
        <td>Quản lý phụ thuộc</td>
        <td>Cần thêm từng thư viện</td>
        <td>Sử dụng các “starter” như spring-boot-starter-web, starter-data-jpa</td>
    </tr>
    <tr>
        <td>Thời gian phát triển</td>
        <td>Chậm hơn do phải cấu hình thủ công nhiều bước.</td>
        <td>Nhanh chóng vì hầu hết đã được cấu hình sẵn.</td>
    </tr>
</table>
</body>
</html>